<div class="row">
  <div class="col-10">
    <app-search-filter (filterElements)="filter($event)" (searchElements)="search($event)"></app-search-filter>
  </div>
  <div class="col-2">
    <app-show-last-searched-values *ngIf="searchOrFiltered" [isSearched]="searched"
                                   [searchParams]="searchParams" [filterParams]="filterParams"></app-show-last-searched-values>

  </div>
</div>

<p-table [value]="patents" styleClass="p-datatable-striped" [tableStyle]="{'min-width': '50rem'}">
  <ng-template pTemplate="header">
    <tr>
      <th>Code</th>
      <th>Datum podnosenja</th>
      <th>Podnosilac</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-patent>
    <tr (click)="getURL(patent.id)">
      <td>{{patent.id[0]}}</td>
      <td>{{patent.applicationDate | dateArrayToString}}</td>
      <td>{{patent.submitterFullname[0]}}</td>
    </tr>
  </ng-template>
</p-table>

<p-toast position="top-right" key="patent-list-message"></p-toast>
