<!-- <app-stamp-header></app-stamp-header>  -->

<mat-stepper [linear]="isLinear" #stepper>
    <mat-step [completed]="isApplicantCompleted()">

        <div class="step">
            <form [formGroup]="formGroup">
                <ng-template matStepLabel>Podnosilac</ng-template>

                <ng-template #applicantContainerRef>

                </ng-template>

                <br/>
                <div class="mt-1 my-2">
                    <button class="mx-1" mat-stroked-button (click)="addApplicant()"> Dodaj podnosioca</button>
                    <button class="mx-1" mat-stroked-button (click)="removeApplicant()"> Skloni podnosioca</button>
                </div>

                <div class="mt-5">
                    <button class="mx-2" mat-stroked-button color="primary" matStepperPrevious>Nazad</button>
                    <button mat-stroked-button color="primary" matStepperNext>Dalje</button>
                </div>

            </form>
        </div>
    </mat-step>

    <mat-step [completed]="isLowerCompleted">
        <div class="step">
            <form [formGroup]="formGroup">
                <ng-template matStepLabel>Punomoćnik</ng-template>

                <app-entity (display)="addLower($event)"></app-entity>

                <div class="mt-5">
                    <button class="mx-2" mat-stroked-button color="primary" matStepperPrevious>Nazad</button>
                    <button mat-stroked-button color="primary" matStepperNext>Dalje</button>
                </div>
            </form>
        </div>
    </mat-step>

    <mat-step [completed]="isCommonRepresentativeCompleted">
        <div class="step">
            <form [formGroup]="formGroup">
                <ng-template matStepLabel>Zajednički predstavnik</ng-template>

                <app-entity (display)="addCommonRepresentative($event)"></app-entity>

                <div class="mt-5">
                    <button class="mx-2" mat-stroked-button color="primary" matStepperPrevious>Nazad</button>
                    <button mat-stroked-button color="primary" matStepperNext>Dalje</button>
                </div>
            </form>
        </div>
    </mat-step>


    <mat-step [completed]="isStampCompleted">
        <div class="step">
            <form [formGroup]="formGroup">
                <ng-template matStepLabel>Podaci o žigu</ng-template>

                <div>
                    <p>Vrsta žiga</p>
                    <mat-radio-group (change)="optionChanged($event)" aria-label="Select an option">
                        <mat-radio-button value="1" [checked]="true">individualni</mat-radio-button>
                        <mat-radio-button value="2">kolektivni</mat-radio-button>
                        <mat-radio-button value="3">žig garancije</mat-radio-button>
                    </mat-radio-group>
                </div>

                <div>
                    <p>Tip žiga</p>
                    <mat-radio-group (change)="optionChangedKind($event)" aria-label="Select an option">
                        <mat-radio-button value="1" [checked]="true">verbalni znak(znak u reči)</mat-radio-button>
                        <mat-radio-button value="2">grafički znak</mat-radio-button>
                        <mat-radio-button value="3">kombinovani znak</mat-radio-button>
                        <mat-radio-button value="4">trodimenzionalni znak</mat-radio-button>
                        <mat-radio-button value="5">druga vrsta znaka</mat-radio-button>

                    </mat-radio-group>
                    <mat-form-field class="input m-2" appearance="fill" [hidden]="isHiddenOtherKind">
                        <mat-label>Tip znaka</mat-label>
                        <input matInput formControlName="otherKindFormControl" placeholder="verbalni znak"
                               required (ngModelChange)="check()">
                        <mat-error
                                *ngIf="formGroup.controls['otherKindFormControl'].hasError('pattern') && !formGroup.controls['otherKindFormControl'].hasError('required')">
                            Tip se sastoji od slova i brojeva
                        </mat-error>
                        <mat-error *ngIf="formGroup.controls['otherKindFormControl'].hasError('required')">
                            Tip <strong>potrebno</strong>
                        </mat-error>
                    </mat-form-field>

                </div>
                <div>

                    <form [formGroup]="formGroup">
                        <mat-form-field class="example-chip-list" appearance="fill">
                            <mat-label>Boje</mat-label>
                            <mat-chip-grid #chipGrid aria-label="Color selection">
                                <mat-chip-row *ngFor="let color of colorsDto.colors" (removed)="removeColor(color)">
                                    {{color}}
                                    <button matChipRemove [attr.aria-label]="'remove ' + color">
                                        <mat-icon>cancel</mat-icon>
                                    </button>
                                </mat-chip-row>
                            </mat-chip-grid>
                            <input placeholder="Nova boja..." #colorInput
                                   [formControl]="colorCtrl"
                                   [matChipInputFor]="chipGrid" [matAutocomplete]="auto"
                                   [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                   (matChipInputTokenEnd)="addColor($event)"/>
                            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                                <mat-option *ngFor="let color of filteredColors | async" [value]="color">
                                    {{color}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </form>

                    <form [formGroup]="formGroup">
                        <mat-form-field class="example-chip-list" appearance="fill">
                            <mat-label>Klase roba i usluga</mat-label>
                            <mat-chip-grid #chipGrid2 aria-label="Goods selection">
                                <mat-chip-row *ngFor="let good of goodsAndClasses.goodsAndServicesClass"
                                              (removed)="removeGood(good)">
                                    {{good}}
                                    <button matChipRemove [attr.aria-label]="'remove ' + good">
                                        <mat-icon>cancel</mat-icon>
                                    </button>
                                </mat-chip-row>
                            </mat-chip-grid>
                            <input placeholder="Nova klasa robe ili usluga..." #goodInput [formControl]="goodCtrl"
                                   [matChipInputFor]="chipGrid2" [matAutocomplete]="auto1"
                                   [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                   (matChipInputTokenEnd)="addGood($event)"/>
                            <mat-autocomplete #auto1="matAutocomplete" (optionSelected)="selectedGood($event)">
                                <mat-option *ngFor="let good of filteredGoods | async" [value]="good">
                                    {{good}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </form>


                    <mat-form-field class="input m-2" appearance="fill">
                        <mat-label>Opis znaka</mat-label>
                        <input matInput formControlName="descriptionFormControl" placeholder="Znak je..."
                               required (ngModelChange)="check()">
                        <mat-error
                                *ngIf="formGroup.controls['descriptionFormControl'].hasError('pattern') && !formGroup.controls['descriptionFormControl'].hasError('required')">
                            Opis se sastoji od slova i brojeva
                        </mat-error>
                        <mat-error *ngIf="formGroup.controls['descriptionFormControl'].hasError('required')">
                            Opis je <strong>potrebno</strong>
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="input m-2" appearance="fill">
                        <mat-label>Transliteracija znaka (znak na stranom jeziku)</mat-label>
                        <input matInput formControlName="transliterationFormControl" placeholder=""
                               required (ngModelChange)="check()">
                        <mat-error
                                *ngIf="formGroup.controls['transliterationFormControl'].hasError('pattern')">
                            Transliteracija znaka se sastoji od slova i brojeva
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="input m-2" appearance="fill">
                        <mat-label>Prevod znaka (znak na stranom jeziku)</mat-label>
                        <input matInput formControlName="translationFormControl" placeholder=""
                               required (ngModelChange)="check()">
                        <mat-error
                                *ngIf="formGroup.controls['translationFormControl'].hasError('pattern')">
                            Prevod znaka se sastoji od slova i brojeva
                        </mat-error>
                    </mat-form-field>
                </div>


                <div class="row">
                    <div class="col-6">
                        <div class="formInput fileInput">
                            <img [src]="signPhoto"
                                 style="width: 300px; height: 300px; border-radius: 20%; object-fit: contain;"/>
                            <label for="file" class="file-label">
                                Promeni sliku:
                                <mat-icon color="primary" class="icon">cloud_upload</mat-icon>
                            </label>
                            <input type="file" id="file" accept="image/*" style="display: none;"
                                   (change)="selectPhoto($event)">
                        </div>
                    </div>

                    <div class="col-6">

                        <p>Prvenstvo</p>

                        <mat-radio-group (change)="optionChangedPriority($event)" aria-label="Select an option">
                            <mat-radio-button value="1">Da</mat-radio-button>
                            <mat-radio-button value="2" [checked]="true">Ne</mat-radio-button>
                        </mat-radio-group>

                        <mat-form-field class="input m-2" appearance="fill" [hidden]="isHiddenYesPriority">
                            <mat-label>Tip znaka</mat-label>
                            <input matInput formControlName="priorityFormControl" placeholder="osnov za prioritet"
                                   required (ngModelChange)="check()">
                            <mat-error
                                    *ngIf="formGroup.controls['priorityFormControl'].hasError('pattern') && !formGroup.controls['priorityFormControl'].hasError('required')">
                                Tip se sastoji od slova i brojeva
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>


                <div class="mt-5">
                    <button class="mx-2" mat-stroked-button color="primary" matStepperPrevious>Nazad</button>
                    <button mat-stroked-button color="primary" matStepperNext>Dalje</button>
                </div>
            </form>
        </div>
    </mat-step>

    <mat-step [completed]="isFilesUploaded">
        <div class="step">
            <form [formGroup]="formGroup">
                <ng-template matStepLabel>Prilozi</ng-template>
                <p-table [value]="products" [tableStyle]="{'min-width': '50rem'}">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Redni broj</th>
                            <th>Naziv</th>
                            <th>Fajl</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-product>
                        <tr>
                            <td>{{product.position}}</td>
                            <td>{{product.name}}</td>
                            <td>
                                <div class="file-list" *ngIf="product.submittedAttachment==='NE'">
                                    <p> Fajl nije dodoat </p>
                                </div>

                                <div class="file-list" *ngIf="product.submittedAttachment==='DA'">
                                    <a [href]="product.path" id="p+{{product.position}}" target="_blank"> Pogledaj
                                        fajl</a>
                                </div>

                            </td>
                            <td>
                                <div class="formInput fileInput">
                                    <label for="files+{{product.position}}" class="file-label">
                                        Dodaj ili izmeni fajl:
                                        <mat-icon color="primary" class="icon">upload</mat-icon>
                                    </label>
                                    <input type="file" id="files+{{product.position}}"
                                           accept=".doc,.docx,.xml,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document, .pdf"
                                           style="display: none;" (change)="selectFile($event, product)">
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
                <div class="mt-5">
                    <button class="mx-2" mat-stroked-button color="primary" matStepperPrevious>Nazad</button>
                    <button mat-stroked-button color="primary" matStepperNext>Dalje</button>
                </div>
            </form>
        </div>
    </mat-step>

    <mat-step>
        <div class="step">
            <ng-template matStepLabel>Gotov</ng-template>
            <p>Završili ste popunjavanje forme.</p>
            <div class="my-5">
                <button class="mx-2" mat-stroked-button color="primary" matStepperPrevious>Nazad</button>
                <button mat-raised-button color="primary" (click)="submitRequest()">Pošalji</button>
            </div>
        </div>
    </mat-step>
</mat-stepper>
