<app-official-patent-header *ngIf="isOfficialPatent()"></app-official-patent-header>
<app-patent-header *ngIf="isPatent()"></app-patent-header>
<app-simple-header *ngIf="isNoOne()"></app-simple-header>
<app-authorship-header *ngIf="isAuthorship()"></app-authorship-header>
<app-stamp-header *ngIf="isStamp()"></app-stamp-header>
<app-official-stamp-header *ngIf="isOfficialStamp()"></app-official-stamp-header>
<app-official-authorship-header *ngIf="isOfficialAuthorship()"></app-official-authorship-header>
<router-outlet></router-outlet>
