<mat-stepper [linear]="isLinear" #stepper>

    <!-- PODNOSILAC -->
    <mat-step [completed]="isSubmitterCompleted">
      <div class="step">
        <form>
          <ng-template matStepLabel>Podnosilac</ng-template>
  
          <app-entity (display)="submitterEvent($event)"></app-entity>
  
          <div class="mt-5">
            <button mat-stroked-button color="primary" matStepperNext>Dalje</button>
          </div>
        </form>
      </div>
    </mat-step>
    <!-- PODNOSILAC -->

    <!-- PUNOMOCNIK -->
    <mat-step [completed]="isCommissionerCompleted">
      <div class="step">
        <form>
          <ng-template matStepLabel>Punomoćnik</ng-template>
  
          <mat-checkbox class="example-margin" (change)="openCommissionerFields($event)">Prijava se podnosi preko punomoćnika</mat-checkbox>
          <h1 *ngIf="openCommissioner">Punomoćnik</h1>
          <app-commissioner (display)="commissionerEvent($event)" [commissioner]="openCommissioner"></app-commissioner>
  
          <div class="mt-5">
            <button class="mx-2" mat-stroked-button color="primary" matStepperPrevious>Nazad</button>
            <button mat-stroked-button color="primary" matStepperNext>Dalje</button>
          </div>
        </form>
      </div>
    </mat-step>
    <!-- PUNOMOCNIK -->

    <!-- AUTOR -->
    <mat-step [completed]="isAuthorCompleted()">
      <div class="step">
      <form>
        <section class="example-section">
          <mat-checkbox class="example-margin" (change)="submitterIsAuthorChange($event)" checked>
            Podnosilac je i autor
          </mat-checkbox>
        </section>
  
        <ng-template matStepLabel>Autor</ng-template>
  
        <div *ngIf="!isSubmitterTheAuthor">
          <section class="example-section">
            <mat-checkbox class="example-margin" (change)="anonymusAuthor($event)" checked>
              Autor je anoniman
            </mat-checkbox>
          </section>
  
          <ng-template #authorContainerRef></ng-template>

          <br/>
          <div class="mt-1 my-2">
              <button class="mx-1" mat-stroked-button (click)="addAuthor()"> Dodaj autora</button>
              <button class="mx-1" mat-stroked-button (click)="removeAuthor()"> Ukloni autora</button>
          </div>

        </div>
        <div class="mt-5">
          <button class="mx-2" mat-stroked-button color="primary" matStepperPrevious>Nazad</button>
          <button mat-stroked-button color="primary" matStepperNext>Dalje</button>
        </div>
      </form>
      </div>
    </mat-step>
    <!-- AUTOR -->

    <!-- AUTORSKO DJELO -->
    <mat-step [completed]="isAuthorsWorkCompleted">
      <div class="step">
      <form>
        <ng-template matStepLabel>Autorsko djelo</ng-template>
  
        <app-authors-work (display)="authorsWorkEvent($event)"></app-authors-work>
  
        <div class="mt-5">
          <button class="mx-2" mat-stroked-button color="primary" matStepperPrevious>Nazad</button>
          <button mat-stroked-button color="primary" matStepperNext>Dalje</button>
        </div>
      </form>
      </div>
    </mat-step>
    <!-- AUTORSKO DJELO -->

    <!-- PRILOZI -->
    <mat-step [completed]="true">
      <div class="step">
        <ng-template matStepLabel>Prilozi</ng-template>
          <div class="mx-2 my-3">
            <div class="my-5">
              <p class="mb-2">Primer djela:</p>
              <input type="file" (change)="selectExample($event)"><br/>
            </div>
            <div class="my-5">
              <p class="mb-2">Opis djela:</p>
              <input type="file" (change)="selectDescription($event)">
            </div>
          </div>

          <div class="mt-5">
            <button class="mx-2" mat-stroked-button color="primary" matStepperPrevious>Nazad</button>
            <button mat-stroked-button color="primary" matStepperNext>Dalje</button>
          </div>
      </div>
    </mat-step>

    <mat-step>
      <div class="step">
        <ng-template matStepLabel>Kraj</ng-template>
        <p>Završili ste popunjavanje forme.</p>
        <div class="my-5">
          <button class="mx-2" mat-stroked-button color="primary" matStepperPrevious>Nazad</button>
          <button mat-raised-button color="primary" (click)="submitRequest()">Pošalji</button>
        </div>
      </div>
    </mat-step>
</mat-stepper>
  
<p-toast position="top-right" key="request-message"></p-toast>
  