<nav class="">
    <div class="row">
        <div class="col-3">
            <img src="../../../../assets/stamp.png" alt="logo"/>
            <span> Servis za žigove </span>
        </div>
        <div class="col-8">
            <span (click)="openList()">Pregled prihvaćenih zahteva</span>
            <span (click)="openAdd()">Dodaj zahtev</span>
        </div>
        <div class="col-1 d-flex justify-content-end" >
            <span (click)="logout()">Odjava</span>
        </div>
    </div>
</nav>

